body {
	background-color: #f08232;
	font-family: Bahnschrift;
}

.cim {
	margin: 40px auto 120px auto;
	height: 90px;
	color: white;
	text-align: center;
	background-color: #ffa048;
	width: 300px;
	border-radius: 25px;
	overflow: hidden;
}

h1, h2 {
	height: 100%;
	width: 80%;
	line-height: 90px;
	margin: auto;
	transition: 0.4s;
	position: relative;
	margin-bottom: -30%;
}

h2 {
	top: 100%;
}

h1 {
	top: 0;
}

.cim:hover > h1 {
	top: -100%;
}

.cim:hover > h2 {
	top: 0;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ff8b34;
	width: 450px;
	height: 650px;
	border-radius: 25px;
	align-items: center;
}

ul {
	background-color: red;
	list-style: none;
}

a {
	display: block;
	margin: auto auto 5px auto;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: white;
	background-color: #ffa048;
	width: 200px;
	height: 40px;
	border-radius: 7px;
	transition: 0.4s;
}

a:hover {
	width: 230px;
	background-color: #ff6c3f;
}

.margintop {
	margin-top: 20px;
}


#menubox
{
	width: 60%;
	height: 50px;
	top: 10%;
	line-height: 50px;
	display: flex;
	justify-content: center;
}

.menuitem
{
	width: 150px;
	border-radius: 25px;
	overflow: hidden;
	z-index: 1;
}

.menuitem:after
{
	z-index: -1;
	content: "";
	display: block;
	width: 0px;
	height: 40px;
	background-color: #ff6c3f;
	position: relative;
	top: -50%;
	transform: translate(0, -50%);
	transition: 0.4s;
	border-radius: 25px;
}

.menuitem:hover:after
{
	width: 150px;
}

.menuitem:hover
{
	width: 150px;
	background-color: #ffa048;
}


#aktiv {
	width: 150px;
	border-radius: 25px;
	background-color: #ff6c3f;
}