body {
	background-color: #f08232;
	font-family: Bahnschrift;
}

.cim {
	margin: 40px auto 120px auto;
	height: 90px;
	color: white;
	text-align: center;
	background-color: #ffa048;
	width: 300px;
	border-radius: 25px;
	overflow: hidden;
}

.cim h1, .cim h2, .cim h3 {
	height: 100%;
	width: 80%;
	line-height: 90px;
	margin: auto;
	transition: 0.4s;
	position: relative;
	margin-bottom: -30%;
}

.cim h2, .cim h3 {
	top: 100%;
}

.cim h1 {
	top: 0;
}

.cim:hover > h1 {
	top: -100%;
}

.cim:hover >  h2 {
	top: 0;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	background-color: #ff8b34;
	width: 90%;
	height: 75%;
	border-radius: 25px;
	border: 5px solid #ff6c3f;

}

ul {
	list-style: none;
}

a {
	display: block;
	margin: auto auto 5px auto;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: white;
	background-color: #ffa048;
	width: 44%;
	height: 40px;
	border-radius: 7px;
	transition: 0.4s;
}

a:hover {
	width: 50%;
	background-color: #ff6c3f;
}

.margintop {
	margin-top: 20px;
}


#menubox
{
	width: 60%;
	height: 50px;
	top: 10%;
	line-height: 50px;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 5;
	border: 5px solid #ff6c3f;
	transition: 0.4s;
}

#menubox:hover
{
	width: 60%;
}

.menuitem
{
	width: 13.3%;
	border-radius: 25px;
	overflow: hidden;
	z-index: 1;
}

.menuitem:after
{
	z-index: -1;
	content: "";
	display: block;
	width: 0px;
	height: 40px;
	background-color: #ff6c3f;
	position: relative;
	top: -50%;
	transform: translate(0, -50%);
	transition: 0.4s;
}

.menuitem:hover:after
{
	width: 100%;
}

.menuitem:hover
{
	width: 13.3%;
	background-color: #ffa048;
}


#aktiv {
	border-radius: 25px;
	background-color: #ff6c3f;
}


.szoveg
{
	/*background-color: red;*/
	margin: 0 0 0 10em;
	width: 45%;
	text-align: justify;
	padding-top: 7em;
	/*background: red;*/
}

.cim
{
	border: 5px solid #ff6c3f;
}

img
{
	display: block;
	border-radius: 10px;
	width: 100%;
	margin: auto;
}


#hollokofelirat
{
}

table
{
	
	margin-right: 2%;
	float: right;
}

td
{
	width: 230px;
	height: 120px;
	/*border: 2px solid black;*/
}
